/* google font  */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap");

body {
  font-family: "Nunito", sans-serif;
  background-color: #fcfcff;
}

i{
   color:coral;
}
.fa-solid{
   color:goldenrod;
}

#search-field {
  border-radius: 50px 0 0 50px;
}
#search-btn {
  border-radius: 0 50px 50px 0;
  background-color: coral;
  color: white;
}